<footer>
    <div class="container">
        <div class="row footer-links">
            <div class="col-md-4 my-auto">
                <a href="/"><img src="\images\logo.png" alt="" height="75px"></a>
            </div>
            <div class="col-md-4 my-auto">
                <div class="title">Contact Us</div>
                Email: <a href="mailto:pinkconsultancy11@gmail.com">pinkconsultancy11@gmail.com</a><br>
                Mob: <a href="tel:+919961083103">+919961083103</a>
            </div>
            <div class="col-md-4 my-auto">
                <div class="title">Quick Links</div>
                <a href="/">Home</a><br>
                <a href="/service">Services</a><br>
                <a href="/about">About Us</a><br>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
    <a href="https://www.facebook.com/Pinkjob-106740127604737" class="social-icons"><i class="fab fa-facebook-f"></i></a>
    <a href="https://wa.me/+919961083103" class="social-icons"><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.instagram.com/pink_consultancy_" class="social-icons"><i class="fab fa-instagram"></i></a>
    {{!-- <a href="" class="social-icons"><i class="fab fa-linkedin-in"></i></a> --}}
    <a href="mailto:pinkjobhr@gmail.com" class="social-icons"><i class="fas fa-envelope"></i></a><br />
    <span style="opacity: 0.5;">&copy; 2021 Copyright 2021:</span> All rights reserved
</footer>