<section>
    <div class="container mt-5">
        <h2 class="text-center section-title"><span class="first-letter">A</span>BOUT <span class="first-letter">U</span>S</h2>
        <div class="row mt-4 mx-auto">
            <div class="col-12 text-muted">
                <label><span style="font-weight: 500;">Pink Consultancy</span> is one among the best emerging recruitment, staffing in Kerala, India. We are one of the leading providers in developing unique personnel solutions that are customized according to the specific operational and HR requirement.</label>
                <img src="/images/about.png" alt="" width="500px" class="img-fluid mx-auto d-block">
                <label>We have a team of experienced, skilled and passionate HR professionals who understands the requirements of the client and provide the right solution with great clarity.</label>
                <label>We understand that every company has unique needs and Pink Consultancy have the necessary people and processes in place to design customized solutions.</label>
            </div>
        </div>
    </div>
</section>

<section class="about-info">
    <div class="container mt-4">
        <div class="row mx-auto">
            <div class="col-md-4 mb-3">
                <div class="mission text-center">
                    <i class="fas fa-anchor icon"></i>
                    <h5 class="mt-2">Mission</h5>
                    <hr class="m-auto section-subtitle-line">
                    <div class="text-muted content">PINK is committed to providing the highest standards of job types and giving high job secuirity.</div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="vision text-center">
                    <i class="fas fa-eye icon"></i>
                    <h5 class="mt-2">Vision</h5>
                    <hr class="m-auto section-subtitle-line">
                    <div class="text-muted content">PINK vision is about unlocking strategic value hidden in segmented and fragmented data and providing qualified staffs that give our clients unparalleled insight in to the businesses.</div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="point text-center">
                    <i class="fas fa-location icon"></i>
                    <h5 class="mt-2">Point</h5>
                    <hr class="m-auto section-subtitle-line">
                    <div class="text-muted content">Our customers continually inspire us to come up with staff requirements for their business development. We achieve this by fostering open and honest feedback.</div>
                </div>
            </div>
        </div>
    </div>
</section>