<section>
    <div class="container mt-5">
        <h2 class="text-center section-title"><span class="first-letter">W</span>HO <span class="first-letter">W</span>E <span class="first-letter">A</span>RE</h2>
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <img src="/images/home-about.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <h4>We are Pink Consultancy</h4>
                <p class="text-muted">
                    <label><span style="font-weight: 500;">Pink Consultancy</span> is one among the best emerging recruitment, staffing in Kerala, India. We are one of the leading providers in developing unique personnel solutions that are customized according to the specific operational and HR requirement.</label>
<label>We have a team of experienced, skilled and passionate HR professionals who understands the requirements of the client and provide the right solution with great clarity.</label>
<label>We understand that every company has unique needs and Pink Consultancy have the necessary people and processes in place to design customized solutions.</label>
<a href="/about" class="btn-primary-sm float-right">Read More...</a>
    </p>
            </div>
        </div>
    </div>
</section>

<section class="home-service">
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-6 col-md-3 mb-4">
                <i class="fas fa-laptop service-icon"></i><br>
                <span class="service-name">Web App Development</span>
                <hr class="service-line">
            </div>
            <div class="col-6 col-md-3 mb-4">
                <i class="fas fa-mobile-alt service-icon"></i><br>
                <span class="service-name">Mobile App Development</span>
                <hr class="service-line">
            </div>
            <div class="col-6 col-md-3 mb-4">
                <i class="fas fa-microchip service-icon"></i><br>
                <span class="service-name">IT Services</span>
                <hr class="service-line">
            </div>
            <div class="col-6 col-md-3 mb-4">
                <i class="fab fa-internet-explorer service-icon"></i><br>
                <span class="service-name">E-Services</span>
                <hr class="service-line">
            </div>
        </div>
        <a href="/services" class="btn-primary-sm float-right">Read More...</a>
    </div>
</section>

<section>
    <div class="container mt-4 mb-2">
        <div class="row">
            <div class="col-md-6 mb-3">
                <img src="/images/consultancy-image-1.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6 mb-3">
                <img src="/images/consultancy-image-2.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
</section>