<section>
    <div class="container mt-5">
        <h2 class="text-center section-title"><span class="first-letter">O</span>UR <span class="first-letter">S</span>ERVICES</h2>
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <img src="/images/web-app-development.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6 mt-1">
                <h4>Web App Development</h4>
                <p class="text-muted">
                    <label><span style="font-weight: 500;">Web App development</span> doesn’t have to be difficult or time-consuming. With extensive experience and a strong team of engineers, Nextware uses its smart work to make any software product development or mobile application development project a success.</label>
<label>Nextware is working for what today Web App Development businesses require. We can develop enterprise-level software or create niche programs to fit specific needs.</label>
<label>We are experienced in both customer-facing applications and software designed for internal use. Nextware can build the entire software program from scratch, or offer a team augmentation solution</label>
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="/images/mobile-app-development.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6 mt-1">
                <h4>Mobile App Development</h4>
                <p class="text-muted">
                    <label><span style="font-weight: 500;">Mobile App development</span> is why Nextware’s Mobile app development team puts a premium on understanding the specific needs of its clients from the start.</label>
<label>Whether your organization is just starting with the development of an iPhone app, or has a team building out your existing Android platform, or maybe just wants to optimize an existing mobile application. Nextware offers services throughout the development lifecycle.</label>
<label>Nextware works closely with its clients to determine the most suitable mobile technologies for their applications. As a mobile application company with decades of experience across multiple mobile application platforms.</label>
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="/images/it-services.jpg" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <h4>IT Services</h4>
                <p class="text-muted mt-1">
                    <label><span style="font-weight: 500;">IT Services</span> Finding the right IT services and solutions at the right price in Kerala or all over in India can be challenging. You want the right fit at the right price. Nextware offers a complete set of IT services, customized to your business.</label>
                    <label>We empower clients of all sizes and technical profiles, giving them the same attention, technical knowledge, and consistency of IT solutions and support that established tech firms use at an affordable price.</label>
                    <label>If you are just getting started, we can offer you a complete IT department for less than the cost of a single full-time staff member. Even better, Nextware can be your IT world, guiding your strategy.</label>
                </p>
            </div>
        </div>
    </div>
</section>